@font-face {
    font-family: 'Dhofar';
    src: url('../fonts/LamaSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dhofar';
    src: url('../fonts/LamaSans-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
